# Library dependencies
# pip install -r requirements.txt

#### Required for operation ####
git+https://git.eljef.me/python/eljef_core.git@2022.2.1#egg=eljef-core

#### Needed for linting ####
flake8
pylint

#### Needed for testing ####
pytest

#### Needed for testing coverage ****
pytest-cov
